.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  /* look into what size the background should be... 100%? edit "min-height" */
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
